**begin{cventries}**

$for(rows)$
<ul>
    <li>$rows.title$</li>        
    <li>$rows.organization$  </li>
    <li>$rows.location$      </li>
    <li>$rows.date$          </li>
    </ul>
$endfor$

**end{cventries}**
